<main class="main">
  <div class="wrapper info-wrapper">
    <div class="main-info">
      <img src="{{ img }}" alt="" class="hero-img" />
      <div>
        <h1 class="name">{{ name }}</h1>
        <p *ngIf="description" class="description">
          {{ description }}
        </p>
      </div>
    </div>
    <div *ngIf="comics.length > 0" class="secondary-info">
      <section *ngFor="let comic of comics" class="comic-info">
        <img
          class="comic-cover"
          src="{{ comic.thumbnail.path + '.' + comic.thumbnail.extension }}"
          loading="lazy"
          alt=""
        />
        <span class="comic-title">
          {{ comic.title }}
        </span>
      </section>
    </div>
  </div>
</main>
