<main class="main">
  <div class="wrapper info-wrapper">
    <div class="main-info">
      <img src="../../../assets/prueba.jpg" alt="" class="hero-img" />
      <div>
        <h1>Adam Warlcok</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid,
          quisquam quasi omnis aperiam hic consequatur ab similique eius
          assumenda. Beatae a officia iusto sed, nihil temporibus illo eligendi
          eaque eveniet.
        </p>
      </div>
    </div>
    <div class="secondary-info">
      <section class="comic-info">Card1</section>
      <section class="comic-info">Card2</section>
      <section class="comic-info">Card3</section>
      <section class="comic-info">Card4</section>
    </div>
  </div>
</main>
