<main class="main">
  <div class="wrapper">
    <img src="../../../assets/prueba.jpg" alt="" />
    <div>
      <h1>Adam Warlcok</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid,
        quisquam quasi omnis aperiam hic consequatur ab similique eius
        assumenda. Beatae a officia iusto sed, nihil temporibus illo eligendi
        eaque eveniet.
      </p>
    </div>
    <div>
      <section>Card1</section>
      <section>Card2</section>
      <section>Card3</section>
      <section>Card4</section>
    </div>
  </div>
</main>
