<header class="header">
  <div class="wrapper header-wrapper">
    <img src="../../../assets/marvel.svg" alt="" width="100px" />
    <div class="header-buttons-wrapper">
      <a *ngIf="backButton" routerLink="" class="header-button"> Atrás </a>
      <div *ngIf="searchBar" class="search-bar">
        <input
          class="search-input"
          type="text"
          name="heroName"
          id="heroName"
          #nameToSearch
        />
        <button class="header-button" (click)="search(nameToSearch.value)">
          Buscar
        </button>
      </div>
    </div>
  </div>
</header>
