.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  padding-bottom: 25px;
}

.message {
  padding: 20px;
  font-size: 25px;
  grid-column: 1/-1;
  text-align: center;
}
